{% extends 'base.html.twig' %}

{% block title %}
    {% if filtered %}
        Épisodes liés à votre histoire
    {% else %}
        Liste des épisodes
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {% if filtered %}
            Épisodes liés à votre histoire
        {% else %}
            Liste des épisodes
        {% endif %}
    </h1>

    <ul>
        {% for episode in episodes %}
            <li>
                <a href="{{ path('app_episode_show', { id: episode.id }) }}">
                    Episode {{ episode.id }} - {{ episode.episodeDescription }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
